#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }


.divider {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.empty-space {
  height: 400px;
  display: block;
}